@import "tailwindcss";

:root {
  --background: #f4f4f5;
  --foreground: #020617;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020617;
    --foreground: #e4e4e7;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

